body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 2vw;

  background: rgb(255, 255, 255);
}

@media only screen and (max-width: 830px) {
  body {
    font-size: 3vw;
  }
}

a {
  color: rgb(118, 118, 118);
  text-decoration: none;
}

a:visited {
  color: rgb(118, 118, 118);
}

.app-top {
  width: 100%;
  padding: 1vw;
  background-color: red;
  box-shadow: -2px 2px 5px grey;
}

.app-top img {
  height: 3vw;
}

.app-top span {
  padding-left: 0.5vw;
}

.app-top a {
  color: rgb(43, 43, 43);
}

.app-bottom {
  height: 4vw;
}
/* 
    client/components/header/ 
    */
.header-wrapper {
  display: grid;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr, 1fr;
  box-shadow: -2px 2px 5px grey;
  overflow: hidden;
  padding-left: 1vw;
  padding-bottom: 1vw;
  color: rgb(57, 57, 57);
  background-color: rgb(91, 228, 244);
}

.header-wrapper .search {
  grid-column: 1;
  grid-row: 1;
  justify-self: start;
  align-self: end;
  color: rgb(63, 62, 62);
}

.header-wrapper .search input {
  width: 24vw;
  font-size: 1.1em;
  border-radius: 10px;
  padding-left: 3px;

  outline: none;
}

.header-wrapper .search-error {
  grid-column: 2;
  grid-row: 1;
  width: 24vw;
  font-size: 1.1em;
  border-radius: 10px;
  padding-left: 3px;

  outline: none;
}

#navBar {
  margin-left: 1vw;
  margin-bottom: 1vw;
}

.navButton {
  outline: none;
  font-size: 0.8em;
  color: rgb(57, 57, 57);
  background-color: rgb(255, 255, 255);
}

.navButton:hover {
  background-color: rgb(91, 228, 244);
}

.navButton:active {
  background-color: rgb(91, 228, 244);
}

.navButtonSelected {
  outline: none;
  font-size: 0.8em;
  background-color: yellowgreen;
}

.prevNext {
  float: right;
  margin-right: 2vw;
}

.article-wrapper {
  display: grid;
  grid-template-columns: 18vw auto;
  grid-template-rows: 6vw 4vw;

  font-size: 0.9em;
  box-shadow: -2px 2px 5px grey;

  color: rgb(57, 57, 57);
  overflow: hidden;
  padding: 1vw;
}

.article-wrapper:hover {
  background-color: rgb(91, 228, 244);
}

.article-wrapper .image {
  grid-column: 1;
  grid-row: 1 / 2;
}

.article-wrapper img {
  width: 16vw;
  overflow: hidden;
}
.article-wrapper .title {
  grid-column: 2;
  grid-row: 1;
  overflow: hidden;
}

.article-wrapper .num-comments {
  grid-column: 2;
  grid-row: 2;
  font-size: 0.8em;
  margin-top: 1vh;
  color: rgb(179, 179, 179);
}

/* 
    client/components/comments/
    */

.parent-article-wrapper {
  display: grid;
  grid-template-columns: 18vw auto;
  grid-template-rows: 6vw 4vw;
  padding: 1vw;
  padding-top: 20px;
  margin-left: 20px;
  font-size: 0.9em;
  box-shadow: -2px 2px 5px grey;
  color: rgb(57, 57, 57);
  overflow: hidden;
}

.parent-article-wrapper .image {
  grid-column: 1;
  grid-row: 1 / 2;
}

.parent-article-wrapper img {
  width: 16vw;
  overflow: hidden;
}

.parent-article-wrapper .title {
  grid-column: 2;
  grid-row: 1;

  overflow: hidden;
}

.comment {
  font-size: 0.7em;
  box-shadow: -2px 2px 5px grey;

  color: rgb(57, 57, 57);
  overflow: hidden;
  padding: 1vw;
}
